.main {
    width: 100%;
    min-height: 100vh;

    padding-top: 10vh;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;

    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 7%);

    
}